/* Padroes Gerais */
.alert {
  display: none;
  position: fixed;
}

.caixa{
  position: relative;
  margin: 0 auto;
}

.vector {
  position: absolute;
  padding-top: 30px;
  padding-left: 60px;
}

.titulo {
  position: relative;
  color: #0A3871;
  font-weight: bold;
  font-size: 24px;
  margin: 0 0 0 15px;
  top: 40px;
  left: 700px;
}

.container_texto {
  width: 680px;
  margin: 0 auto;
}

.info {
  color: #0A2850;
  display: flex;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
  font-weight: bolder;
  gap: 8px;
}

.area {
  display: flex;
  flex-direction: column;
  gap: 8px;
}


/* ENTRADA */
.container_texto textarea{
  
  background-color: #e5e5e5;
  color: #0a3871;
  font-weight: 400;
  font-size: 32px;
  line-height: 150%;
  
}

.container_texto textarea::placeholder{
  color: #0a3871;
}

/* Button */

#buttons button{
  
  gap: 18px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  padding: 24px;
  width: 328px;
  height: 67px;
  cursor: pointer;
  border-radius: 24px;

  
}

#buttons button:first-of-type{
  background: #0A3871;
  color: white;
  border-color: white;
  box-shadow: 0 3px #356ea9;
  
     
}

#buttons button:first-of-type:active {
  transform: translateY(3px);
  
}
  
#buttons button:last-of-type{
  font-weight: 400;
  line-height: 19px;
  box-shadow: 0 3px #0A3871;
  color: #0A3871;

}

#buttons button:last-of-type:active {
  transform: translateY(3px);
}

/* || SAÍDA*/

#sem_mensagem {
  
  /* Nenhuma mensagem encontrada */
  color: #343A40;
  width: 336px;
  height: 58px;
  font-weight: 700;
  text-align: center;
  display: flex;
}

#sem_mensagem h1 {

  font-size: 24px;
  line-height: 29px;
  text-align: center;
  font-weight: bold;
}

#sem_mensagem p {
  font-size: 16px;
}

#mensagem button {
  background: transparent;
  border-radius: 24px;
  width: 85%;
  height: 67px;
  padding: 24px;
  color: #0A3871;
  font-size: 16px;
  cursor: pointer;
  font-weight: bold;
  border-color: #0A3871;
  border-radius: 24px;
  border-width: 1px;
}