/* Classes CSS */
.alert {
  display: none;
  position: fixed;
}

.caixa{
  position: relative;
  margin: 0 auto;
}

.vector {
  position: absolute;
  padding-top: 30px;
  padding-left: 60px;
}

.titulo {
  position: relative;
  color: #0A3871;
  font-weight: bold;
  font-size: 24px;
  margin: 0 0 0 15px;
  top: 40px;
  left: 700px;
}

.campo_texto{

  display: flex;
  flex-direction: column;
  gap: 8px;

}
/* ENTRADAS */
.campo_texto textarea{
  
  background-color: #e5e5e5;
  color: #0a3871;
  width: 680px;
  height: 288px;
  left: 240px;
  top: 168px;
  
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 150%;

}

.campo_texto textarea::placeholder{
  color: #0a3871;
}

/* Button */

#buttons button{
  
  gap: 18px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  padding: 24px;
  width: 328px;
  height: 67px;
  cursor: pointer;
  
}

#buttons button:first-of-type{


  border-radius: 24px;
  background: #0A3871;
  color: white;
  flex-direction: row;
  border-color: white;
  
    
}
  
#buttons button:last-of-type{

  border-radius: 24px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  border-color: #0A3871;
  color: #0A3871;
}

#sem_mensagem {
  
  /* Nenhuma mensagem encontrada */
  color: #343A40;
  width: 336px;
  height: 58px;
  font-weight: 700;
  text-align: center;
  display: flex;
}

#sem_mensagem h1 {

  font-size: 24px;
  line-height: 29px;
  text-align: center;
  font-weight: bold;
}

#sem_mensagem p {
  font-size: 16px;
}

#mensagem button {
  background: transparent;
  border-radius: 24px;
  width: 85%;
  height: 67px;
  padding: 24px;
  color: #0A3871;
  font-size: 16px;
  cursor: pointer;
  font-weight: bold;
  border-color: #0A3871;
  border-radius: 24px;
  border-width: 1px;
}