/* TAGS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
}

header{
  padding: 20px 0;
}

body {
  background-color: #e3e5ec ;

}

main {
  display: flex;
  margin: 35px auto;
  width: 75%;
  
}

button{
  gap: 18px;
  font-size: 16px;
  cursor: pointer;
  padding: 24px;
  width: 328px;
  height: 67px;
  cursor: pointer;
  border-radius: 24px;
  
}


