/* Padroes Gerais */
.alert {
  display: none;
  position: fixed;
}

.vector {
  padding-top: 30px;
  padding-left: 60px;
}

.container_texto {
  width: 680px;
  margin: 0 auto;
}

.info {
  color: #495057;
  opacity: 0.8;
  display: flex;
  font-size: 14px;
  line-height: 150%;
  gap: 8px;
}

.area {
  display: flex;
  flex-direction: column;
  gap: 8px;
}


/* ENTRADA */
.container_texto textarea{
  background-color: #e3e5ec ;
  color: #0a3871;
  font-size: 32px;
  line-height: 150%;
  border: none;
  text-transform: lowercase;
}

.container_texto textarea::placeholder{
  color: #0a3871;
  outline: none;
  text-transform: none;
}

/* Button */

.container_texto button:first-of-type{
  background: #0A3871;
  color: white;
  border-color: white;
  box-shadow: 0 3px #356ea9;
  
}

.container_texto button:first-of-type:active {
  transform: translateY(3px);
  
}
  
.container_texto button:last-of-type{
  
  line-height: 19px;
  box-shadow: 0 3px #0A3871;
  color: #0A3871;

}
.container_texto button:last-of-type:active {
  transform: translateY(3px);
}

/* || RETANGULO INFORMATIVO*/

.container_ilustrado {
  height: 944px;
  width: 400px;
  left: 1000px;
  top: 40px;

  display: flex;
  flex-direction: column;

  border-radius: 32px;
  box-shadow: 0px 24px 32px -8px #00000014;
  background: #FFFFFF;
}

.container_ilustrado .info {
  margin-top: 30px;
  padding: 20px;
  justify-content: center;
  text-align: center;
  color: #343A40
  
}

.container_ilustrado .info:first-of-type {
  
  font-weight: 700;
  font-size: 24px;
  line-height: 120%;
  font-weight: bold;
}

.container_ilustrado .info:last-of-type {
  font-size: 16px;
  line-height: 150%;
  color: #495057
}

/* || SAÍDA*/
.container_ilustrado textarea{
  background-color: #FFFFFF;
  border: none;
}
.container_ilustrado #mensagem::focus{
  outline: none;

}

.btn-copiar {
  justify-content: center;
  align-self: center;
  background: #FFFFFF;
  color: #0a3871;
  box-shadow: 0 3px #64676b;
  
}
.btn-copiar:active{
  transform: translateY(3px);
}